{% extends "base.html" %}

{% block content %}
  <h1>
    Driver list
    <a href="{% url 'dispatch:driver-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action=""  method="get" class="form-inline">
    {{ search_form }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>

  {% if driver_list %}
    <ul>
      {% for driver in driver_list %}
        <li>
          <a href="{% url 'dispatch:driver-detail' pk=driver.id %}">{{ driver.id }}</a>
          {{ driver.first_name }} {{ driver.last_name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no drivers in service</p>
  {% endif %}
{% endblock %}
