{% extends "base.html" %}

{% block content %}
  <h1>
    Truck List
    <a href="{% url 'dispatch:truck-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action=""  method="get" class="form-inline">
    {{ search_form }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>

  {% if truck_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Length</th>
        <th>Max weight</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for truck in truck_list %}
        <tr>
          <td>
              {{ truck.id }}
          </td>
          <td>
              {{ truck.type }}
          </td>
          <td>
              {{ truck.length }}
          </td>
          <td>
              {{ truck.max_weight }}
          </td>
          <td>
              <a href="{% url 'dispatch:truck-update' pk=truck.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'dispatch:truck-delete' pk=truck.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no truck in the service.</p>
  {% endif %}
{% endblock %}
